body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #000;
}

.light-mode {
    background-color: #f9f9f9;
    color: #000;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.image-label {
    color: #000; 
}

.navbar-brand {
    font-size: 1.5em;
}

.container, .container-fluid {
    margin-top: 20px;
}

h1, h2, h5, .card-title, .form-label, .form-control, .btn {
    margin-bottom: 20px;
    color: inherit; 
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body .btn {
    margin-top: 10px;
}

.favorite-button {
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
    color: #d8ff14;
}

.favorite-button.filled {
    color: #d8ff14;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
}

.navigation-buttons .btn {
    padding: 10px 20px;
}

.invite-button, .watch-button {
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
}

.invite-button:hover, .watch-button:hover {
    background-color: #0056b3;
}

.card img {
    width: 100%;
}

.light-mode .card-title, .light-mode .form-label, .light-mode .form-control {
    color: #000;
}

.dark-mode .card-title, .dark-mode .form-label, .dark-mode .form-control {
    color: #fff;
}

.dark-mode .card-body .btn {
    background-color: #444;
    color: #fff;
}

.dark-mode .card-body .btn:hover {
    background-color: #555;
}

input, textarea {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #ced4da; 
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input:focus, textarea:focus {
    background-color: #fff !important;
    color: #000 !important;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control {
    background-color: #fff !important;
    color: #000 !important;
}

.autocomplete-suggestions {
    border: 1px solid #ddd;
    background: #fff;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    width: calc(100% - 30px);
    color: #000; 
}

.autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-suggestion:hover {
    background: #f0f0f0;
}

.dark-mode .autocomplete-suggestions {
    background: #444; 
    color: #fff;
}

.dark-mode .autocomplete-suggestion:hover {
    background: #555;
}

#theme-switcher {
    color: inherit;
}
